@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.folha {
  position: relative;
}

.folha img {
  display: block;
}

.folha p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 110px 50px 120px;
  color: #372022;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Germania One", system-ui;
}

.bruxa {
  height: 500px;
  position: relative;
}

.card {
  margin-bottom: 100px;
  margin-left: 15px;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(120%);
}

.vitima {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
