@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Jaini+Purva&display=swap');

.corpo {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100vh;  
    width: 100vw;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.icone {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60%;
    height: 200px;
    border-radius: 100px;
    position: relative;
    background-color: #0E0506;
    border: 5px solid #372022;
    cursor: pointer;
    font-family: "Jaini Purva", system-ui;
    color: #E08000;
}
.container {
    width: 400px;
    height: 500px;
    padding: 30px;
    border-radius: 5px;
    border: 3px solid #372022;
    background-color: #0E0506;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    justify-content: center;
}

.logo {
    width: 270px;
    margin-top: 25px;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrar:hover {
    background-color: #7b4805;
    cursor: pointer;
}

.registrar {
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    font-family: "Jaini Purva", system-ui; 
    font-size: 25px; 
    place-items: center;
    align-items: center;
    display: flex;
    background-color: #E08000;
    border: none;
    margin-bottom: 20px;
}

.botaoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.input {
    background-color: #0E0506;
    border-radius: 20px;
    border: 3px solid #372022;
    width: 100%;
    height: 50px;
    font-size: 23px;
    color: #ffc881;
    font-family: "Germania One", system-ui;
    margin: 10px;
    padding: 10px;
}

.password{
    width: 100%;
    display: flex;
    justify-content: center;
}

.email{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nomeDetetive{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaoVoltar {
    position: absolute;
    left: 0;
    width: 100px;
    border: 0;
    bottom: 0;
    padding: 10px;
    margin: 15px 10px 15px;
    border-radius: 20px;
    font-family: "Jaini Purva", system-ui; 
    font-size: 25px;
    background-color: #E08000;
}

.botaoVoltar:hover {
    background-color: #7b4805;
    cursor: pointer;
}
.errorMessage{
    color:#e05600;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: "Jaini Purva", system-ui;
    display: inline-block;
    animation: flag 3s infinite;
}

@keyframes flag{
    0%, 50%, 100% {
        transform: translateY(0); 
      }
      25%, 75% {
        transform: translateY(5px); 
      }
}

.registrarDesabilitado {
    background-color: #7b4805;
    cursor: not-allowed;
    opacity: 0.6;
}

.registrarDesabilitado:hover{
    cursor: not-allowed;
}