@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Jaini+Purva&display=swap');

.corpo {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 400px;
    height: 500px;
    border-radius: 5px;
    border: 3px solid #372022;
    background-color: #0E0506;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.containerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    width: 120px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 250px;
}

.formulary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.embarcar {
    background-color: #50875C;
    border: none;
}

.embarcar:hover {
    background-color: #286134;
    cursor: pointer;
}

.registrar {
    background-color: #E08000;
    border: none;
}

.registrar:hover {
    background-color: #7b4805;
    cursor: pointer;
}

.embarcar, .registrar {
    width: 45%;
    padding: 10px;
    margin: 15px 10px 30px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    font-family: "Jaini Purva", system-ui; 
    font-size: 25px;   
}

.input {
    background-color: #0E0506;
    border-radius: 20px;
    border: 3px solid #372022;
    padding: 10px 10px 10px;
    width: 100%;
    font-size: 23px;
    color: #ffc881;
    font-family: "Germania One", system-ui;
    margin-top: 20px;
    margin-bottom: 10px;
}

.botaoVoltar {
    position: absolute;
    left: 0;
    width: 100px;
    border: 0;
    bottom: 0;
    padding: 10px;
    margin: 15px 10px 15px;
    border-radius: 20px;
    font-family: "Jaini Purva", system-ui; 
    font-size: 25px;
    background-color: #E08000;
}

.botaoVoltar:hover {
    background-color: #7b4805;
    cursor: pointer;
}

.username {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fazerLogin{
    width: 100%;
}

.errorMessage{
    color:#e05600;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: "Jaini Purva", system-ui;
    display: inline-block;
    animation: flag 3s infinite;
}

@keyframes flag{
    0%, 50%, 100% {
        transform: translateY(0); 
      }
      25%, 75% {
        transform: translateY(5px); 
      }
}

