.fichario {
    display: flex; 
  }
  
  .abas {
    width: 200px; 
  }
  
  .conteudo {
    position: relative; 
    width: 400px; 
  }
  
  .pagina {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
  }
  