@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

.body{
    background-image: url('../src/assets/img/background/fundoTrem.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Germania One", system-ui;
}

.body a {
    text-decoration: none;
}

.logo {
    margin-left: 8vw;
    text-align: center;
    padding-top: 125px;
}

.card {
    margin-left: 8vw;
    width: 90vw;
    padding-top: 70px;
    display: flex;
    list-style: none;
    justify-content: center;
}

.btnsobre {
    transition: 1s;
    cursor: pointer;
}

.btnsobre:hover {
    transform: scale(1.2);
}

.lista {
    margin: 30px;
}

.imagem {
    display: flex;
    width: 219px;
    height: 163px;
    border: 2px solid #372022;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

.foto {
    width: 219px;
    height: 163px;
    display: flex;
    border-radius: 20px 20px 0px 0px;
}

.nome {
    width: 219px;
    height: 54px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E08000;
    font-size: 24px;
    border: 2px solid #372022;
    background-color: #0E0506;
}

.classe {
    width: 219px;
    height: 54px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #372022;
    font-size: 24px;
    border: 2px solid #372022;
    border-radius: 0px 0px 20px 20px;
    background-color: #E08000;
}