@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    max-width: 10vw;
    background-color: transparent;
    background-image: url('../src/assets/img/background/fundoTrem.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    padding: 20px;
    position: fixed;
}

.header {
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: #0E0506;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0E0506;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: absolute;
    z-index: 3;
    transition: all .5s;
    min-width: 82px;
    max-width: 200px;
}

.sidebarContent {
    padding: 12px;
}

.logoImg {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideItems,
.sideItemsLog {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    font-family: "Germania One", system-ui;
    cursor: pointer;
}

.sideItemsLog {
    font-size: 35px;
    max-width: 100px;
}

.sideItemsLog a {
    text-decoration: none;
    color: #0E0506;
}

.sideItemsLog span {
    font-size: 15px;
}

.sideItemsLog svg {
   width: 24px; 
   height: 24px; 
}

.sideItem,
.logoutBtn,
.perfilBtn {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    border-radius: 8px;
    background-color: #E08000;
    color: #0E0506;
    cursor: pointer;
    font-family: "Germania One", system-ui;
    border: none;
    text-align: start;
    transition: background-color 0.3s;
}

.sideItem svg,
.logoutBtn svg,
.perfilBtn svg {
    width: 24px; 
    height: 24px; 
}

.sideItem.active,
.logoutBtn.active,
.perfilBtn.active {
    background-color: #E08000;
}

.sideItem.active:hover,
.logoutBtn:hover,
.perfilBtn:hover,
.openBtn:hover {
    background-color: #7b4805;
}

.logoutBtn:hover {
    background-color: #e00000;
}

.sideItem a,
.logoutBtn,
.perfilBtn {
    text-decoration: none;
    color: #0E0506;
}

.logout {
    border-top: #0E0506;
    padding: 12px;
}

.logoImage {
    transition: height 1s ease, width 1s ease;
}

.openBtn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #E08000;
    color: #0E0506;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: transform 1s ease;
}

.openSidebar .openBtn {
    transform: rotate(180deg);
}

.itemDescription {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width 0.6s, height 0.6s;
    height: 0;
}

.sidebar.openSidebar {
    min-width: 15%;
}

.sidebar.openSidebar .itemDescription {
    width: 150px;
    height: auto;
}

.sidebar.openSidebar .sideItem,
.sidebar.openSidebar .logoutBtn,
.sidebar.openSidebar .perfilBtn {
    justify-content: center;
}
